.selected {
  border: 2px solid rgb(2, 226, 226);
  background-color: white;
}
.color-selected{
  border: 2px solid;
  box-sizing: content-box;
}

.in-block {
  display: inline-block;
}
#Lightning_Yellow {
  background-color: #ffc600;
}
#Eclipse_Red {
  background-color: #ba0c2f;
}
#India_Blue {
  background-color: #0080fb;
}
#Stealth_Black {
  background-color: #363639;
}
#Mist_Grey {
  background-color: #d1d3d4;
}
#Cosmic_Black {
  background-color: #262525;
}
#Dark_Lunatic_Green {
  background-color: #535d4e;
}
#Dark_Silver {
  background-color: #54585a;
}
#Cosmic_Black1 {
  background-color: #101820;
}
#Rebel_Red {
  background-color: #e4002b;
}
#Pacific_Blue {
  background-color: #0880fb;
}

