
.footer {
    background-color: #2f2f2f;
    color: white;
    padding: 20px 0;
    border-top: 1px solid white;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 10px;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}
.download{
    height: 150px;
    width: 100px;
    display: flex;
    position: relative;
}

.download h3{
    position: absolute;
    top: 5px;
}

.download div {
    width: 73px;
    margin-right: 10px;
    color: white;
}
.download a{
    width: fit-content;

}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #555;
    padding-top: 20px;
}